.admin {
    background-image: url('img/admin_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 40px 0;

}

.count-container {
    background-color:#FFFAFC ;
    width: 75%;
    margin-top: 140px;
    margin-left: 40px;
    border-radius: 10px;
    color: #5C5C5C;
    font-size: 20px;
    padding: 20px 30px;
}

.rating {
    margin-bottom: 10px;
}

.label {
    font-size: 14px;
    color: #5C5C5C;
    
}

.bar {
    height: 20px;
    background-color: #DAB6F4;
    text-align: right;
    line-height: 40px;
    color: white;
}

span {
    font-weight: bold;
}

/*알림*/
.alret-container{
    color: #5C5C5C;
    background-color:#FFFAFC ;
    margin-top: 140px;
    margin-left: 40px;
    border-radius: 10px;
    width: 200px;   

}



/*공지사항*/
.notice-container{
    background-color: #FFFAFC;
    color:#5C5C5C;
    width: 40%;
    margin-top: 70px;
    margin-left: 40px;
    border-radius: 10px;
    padding: 15px;
}

.notice-header {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    font-size: 24px;
}

.notice-header img {
    margin-right: 10px; /* 이미지와 텍스트 사이에 간격 추가 */
}

.notice-content{
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 30px;

}

/* 공지사항 아이템의 기본 스타일 */
.notice-item {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* 1초 동안의 전환 효과 */
}

/* 숨김 상태 클래스 */
.notice-item.hidden {
    opacity: 0;
}

/* 추가 스타일 (필요에 따라 수정 가능) */
.notice-item h3 {
    margin: 0;
    font-size: 18px;
}
.notice-item p {
    margin: 5px 0;
    font-size: 16px;
}
.notice-date {
    font-size: 14px;
    color: #666;
}







/*봇 알림*/

.bot-alret{
    margin-top: 90px;
    color:#FFFFFF;
    display: flex;
    margin-left: px;
}

.bot-bubble {
    background-image: url('./img/Pbubble.png');
    background-size: contain; /* 이미지가 컨테이너 내에 전체적으로 맞추어지도록 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    padding: 30px 50px; /* 텍스트와 경계 사이에 여유 공간 추가 */
    color: white; /* 글자 색상 변경, 필요에 따라 조정 */
    font-size: 20px; /* 글자 크기 설정, 필요에 따라 조정 */
    margin-left: 30px;
}
