.admin {
    background-image: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 40px 0;
    height: 100vh;

}

.count-container {
    background-color:#FFFAFC ;
    width: 70%;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10px;
    color: #5C5C5C;
    font-size: 20px;
    padding: 20px 30px;
}

.bar{
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 10px;
}

.label {
    font-size: 14px;
    color: #5C5C5C;
    
}

.bar {
    height: 20px;
    background-color: #DAB6F4;
    text-align: right;
    line-height: 60px;
    color: white;
}

span {
    font-weight: bold;
}

/*알림*/
.alret-container{
    color: #5C5C5C;
    background-color:#FFFAFC ;
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px;
    width: 200px;
    height: 450px;
    overflow: scroll;
    padding: 0px 20px;

}

.complaint{
    margin-top: 10px;
    margin-bottom: 10px;
}

.complain-text{
    color: #5C5C5C;
    font-size: 20px;
    font-weight: 700;
    position: sticky; 
    top: 0; 
    background-color: #FFFAFC; 
    z-index: 1000; 
    height: 50px;
    display: flex;
    align-items: center;
}

.complaintsContainer{
    padding-top: 40px;
}


.complaint-title{
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 700;
}

.complaint-meta{
    color: #5C5C5C;
}



/*공지사항*/
.notice-container{
    background-color: #FFFAFC;
    color:#5C5C5C;
    width: 40%;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 10px;
    padding: 20px 20px 25px 20px;
}

.notice-header {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    font-size: 24px;
    font-weight: 600;
}

.notice-header img {
    margin-right: 10px; 
}

.notice-content{
    margin-left: 30px;
    margin-top: 10px;
    padding-right: 30px;

}

/* 공지사항 아이템의 기본 스타일 */
.notice-item {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* 1초 동안의 전환 효과 */
    margin-left: 10px;
}

/* 숨김 상태 클래스 */
.notice-item.hidden {
    opacity: 0;
}

/* 추가 스타일 (필요에 따라 수정 가능) */
.notice-item .noticeL-title {
    font-size: 18px;
    color: #5C5C5C;
    margin-bottom: 5px;
}
.notice-item .noticeL-content {
    font-size: 16px;
    color: #5C5C5C;
    margin-bottom: 5px;
}
.notice-date {
    font-size: 14px;
    color: #5C5C5C;
}



/*봇 알림*/

.bot-alret{
    margin-top: 70px;
    color:#FFFFFF;
    display: flex;
    margin-left: 60px;
}

.bot-bubble {
    background-image: url('./img/Pbubble.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    padding: 40px 50px; 
    color: white; 
    font-size: 18px; 
    margin-left: 30px;

}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bot-alret img {
    animation: float 2s infinite ease-in-out;
}
