/* signup.css */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

.signup-container {
  background-image: url('background.png');
  background-size: cover; /* 배경 이미지가 화면 전체를 덮음 */
  background-position: center; /* 이미지 위치를 중앙으로 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  height: 100vh; /* 화면 높이를 100% 채움 */
  display: flex; /* 중앙 정렬을 위한 Flexbox */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin: 0; /* 페이지 기본 여백 제거 */
  flex-direction: column;
}

.signup-container h2 {
  color: #5c5c5c; /* 원하는 색상 코드 */
  font-size: 1.5rem; /* 텍스트 크기 */
  font-weight: bold; /* 굵은 글씨 */
  text-align: center; /* 중앙 정렬 */
  font-family: 'SUITE-Regular';
  margin-bottom: 20px;
}

.logo-image {
  width: 200px;
  margin-bottom: 20px; /* 로고와 폼 사이 여백 추가 */
}

.signup-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
  width: 100%;
  
}

.input-field {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
}

.input-field:focus {
  border-color: #888;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 70px;
  
}

.signup-submit-button,
.cancel-signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-family: 'SUITE-Regular';
}

.signup-submit-button {
  background-color: #d5befd;
  color: #5c5c5c;
}

.signup-submit-button:hover {
  background-color: #4b2e6f;
}

.cancel-signup-button {
  background-color: #d5befd;
  color: #5c5c5c;
}

.cancel-signup-button:hover {
  background-color: #c0c0c0;
}
